{% load staticfiles %}


<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> Vitruna | Вхід </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="{% static 'admin/css/vendor.css' %}">
        <!-- Theme initialization -->

<link rel="stylesheet" id="theme-style" href="{% static 'admin/css/app-green.css' %}">
                    <link rel="stylesheet" id="theme-style" href="{% static 'admin/css/app.css' %}">

    </head>

    <body>
        <div class="auth">
            <div class="auth-container">
                <div class="card">
                    <header class="auth-header">
                        <h1 class="auth-title">
  <!--       <div class="logo">

        </div>  -->       Vitruna
      </h1> </header>
                    <div class="auth-content">
                        <p class="text-xs-center">Авторизуйтесь щоб продовжити</p>
                        <form id="login-form" action="" method="POST" novalidate="">
                            {% csrf_token %}
                            <div class="form-group"> <label for="username">Email</label> <input type="email" class="form-control underlined" name="email" id="username" placeholder="Ваша email адреса" required> </div>
                            <div class="form-group"> <label for="password">Пароль</label> <input type="password" class="form-control underlined" name="password" id="password" placeholder="Ваш пароль" required> </div>
                            <div class="form-group"> <label for="remember">
            <span>    {% if context %}
    {{context}} adasdasd
    {% endif %}</span>
          </label> <a href="reset.html" class="forgot-btn pull-right">Забули пароль ?</a> </div>
                            <div class="form-group"> <button type="submit" class="btn btn-block btn-primary">ВХІД</button> </div>
                            <div class="form-group">
                                <p class="text-muted text-xs-center">Немає аккаунту ? <a href="signup.html">Приєднуйтесь!</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Reference block for JS -->
        <div class="ref" id="ref">
            <div class="color-primary"></div>
            <div class="chart">
                <div class="color-primary"></div>
                <div class="color-secondary"></div>
            </div>
        </div>
        <script src="{% static 'admin/js/vendor.js' %}"></script>
        <script src="{% static 'admin/js/app.js' %}"></script>
    </body>

</html>