<form action='' method='POST'> 
{% csrf_token %}
<div >
<label for='username'> Username </label>
<input type='text' name='email' id='username'>
<label for='password'>Password </label>
<input type='password' name='password' id='password'>
<input type='submit' value='login'>
</div>
</form>
