{% load staticfiles %}
<html>
    <head>
 <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/masonry.css'%}">
    </head>
<div class="container">
     <div class="row">
         <article>
             <section>
                 <img src="http://static.tumblr.com/086ef3577ca15c5f6281832bce228493/qkjt3eu/di9msw8cq/tumblr_static_sideeee.png">
             </section>
             <section>
                <img src="http://kingofwallpapers.com/girl/girl-015.jpg" >
                 asd asd asd asd asd asd
             </section><section>
                 <img src="http://static.tumblr.com/086ef3577ca15c5f6281832bce228493/qkjt3eu/di9msw8cq/tumblr_static_sideeee.png">
 
             </section>
             <section>
                <img src="http://kingofwallpapers.com/girl/girl-015.jpg" >
                 asd asd asd asd asd asd
             </section><
             <section>
                <img src="http://kingofwallpapers.com/girl/girl-015.jpg" >
                 asd asd asd asd asd asd
             </section>

<section>
                 <img src="http://static.tumblr.com/086ef3577ca15c5f6281832bce228493/qkjt3eu/di9msw8cq/tumblr_static_sideeee.png">
             </section>

         </article>



    </div>
</div>







<style type="text/css">
span.absolute {
    position: absolute;
    right: 0px;
}
</style>
    </body>
</html>
